[submodule "extern/evosuite"]
	path = extern/evosuite
	url = git@github.com:nus-apr/evosuite
    branch = evorepair
[submodule "extern/oracle-parser"]
	path = extern/oracle-parser
	url = git@github.com:nus-apr/oracle-parser.git
	branch = main
[submodule "extern/arja"]
	path = extern/arja
	url = https://github.com/Juckelfunk/arja.git
[submodule "extern/uniapr"]
	path = extern/uniapr
	url = https://github.com/Juckelfunk/uniapr.git
